<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <style>
        @font-face {
            font-family: 'iconfont';
            src: url('//at.alicdn.com/t/font_1454076996_3996592.eot'); /* IE9*/
            src: url('//at.alicdn.com/t/font_1454076996_3996592.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('//at.alicdn.com/t/font_1454076996_3996592.woff') format('woff'), /* chrome、firefox */
            url('//at.alicdn.com/t/font_1454076996_3996592.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('//at.alicdn.com/t/font_1454076996_3996592.svg#iconfont') format('svg'); /* iOS 4.1- */
        }
    </style>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1454076996_6935859.css">
    <link rel="stylesheet" href="/static/css/web/common/common.css">
    <link rel="stylesheet" href="/static/css/web/index.css">

    <title></title>
</head>
<body class="">
<div class="ql_container">
    <div class="ql_container_main por">
        <div class="r_blackbg"></div>
        <div class="ql_container_l">
            <div class="ql_container_l_main">
                <div class="l_top">
                    <div class="l_heardImg por">
                        <div class="l_myNum">
                            <i class="iconfont">&#xe62d;</i>
                        </div>
                        <div class="l_myNumShow">48</div>
                    </div>
                    <div class="l_username fn19sz pt20">我了12313个去</div>
                </div>
                <div class="l_btnList">
                    <ul>
                        <li class="clearfix fn12sz por">
                            <div class="btnlist_header">
                                <i class="iconfont">&#xe634;</i>
                            </div>
                            <span>个人信息</span>
                            <i class="iconfont fr fn12sz">&#xe612;</i>
                        </li>
                        <li class="clearfix fn12sz por">
                            <div class="btnlist_header">
                                <i class="iconfont">&#xe633;</i>
                            </div>
                            <span>消息</span>
                            <i class="iconfont fr">&#xe612;</i>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix fn12sz por">
                            <div class="btnlist_header">
                                <i class="iconfont">&#xe631;</i>
                            </div>
                            <span>关于球来也</span>
                            <i class="iconfont fr">&#xe612;</i>
                        </li>
                        <li class="clearfix fn12sz por">
                            <div class="btnlist_header">
                                <i class="iconfont">&#xe63b;</i>
                            </div>
                            <span>意见反馈</span>
                            <i class="iconfont fr">&#xe612;</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ql_container_r">
            <div class="ql_container_r_main por">
                <div class="qlr_header clearfix pl30 pr30 por">
                    <div class="qlr_heightone"><i class="iconfont">&#xe613;</i></div>
                    <div class="qlr_minimgsrc fl"></div>
                    <div class="qlr_name fl pl20 colorwhite fn30sz">罗纳尔多~</div>
                    <div class="qlr_hearbtngroup fr clearfix colorwhite">
                        <div class="fl por pr25">
                            <div class="plr_sendNum"></div>
                            <i class="iconfont fn30sz">&#xe633;</i>
                        </div>
                        <div class="fl"><i class="iconfont fn30sz">&#xe620;</i></div>
                    </div>
                </div>
                <div class="qlr_active"></div>
                <div class="qlr_btngroup">
                    <ul class="clearfix">
                        <li class="on pt25">
                            <i class="iconfont createGameBtb">&#xe621;</i>
                            <div>创建球赛</div>
                        </li>
                        <li class="pt25">
                            <i class="iconfont cityGameBtb">&#xe62b;</i>
                            <div>同城约战</div>
                        </li>
                        <li class="pt25">
                            <i class="iconfont createUserBtb">&#xe61c;</i>
                            <div>添加队友</div>
                        </li>
                    </ul>
                </div>
                <div class="qlr_game">
                    <div class="clearfix qlr_game_main pl30 pr30">
                        <div class="qlr_game_title fl">近期球赛</div>
                        <div class="qlr_game_title_more fr"><i class="iconfont fn30sz">&#xe60f;</i></div>
                    </div>
                    <ul class="game_list pb20">
                        <li class="pt10">
                            <div class="fl pl30 w33bl text-center por">
                                <div class="game_leftNum">22</div>
                                <div class='pl50 pr50 game_headrimg'>
                                    <img src="/static/images/web/me_03.png" alt="">
                                </div>
                                <div class="fn12sz">恒大</div>
                            </div>
                            <div class="fl w33bl text-center">
                                <div class="fn18sz col_ff004d">VS</div>
                                <div class="fn12sz"><i class="iconfont fn12sz pr5">&#xe60c;</i><span class="fn12sz">09-20 20:00</span></div>
                                <div class=" fn12sz"><i class="iconfont fn12sz pr5">&#xe605;</i><span class="fn12sz">09-20 20:00</span></div>
                                <div class="prl_gamestart">未开始</div>
                            </div>
                            <div class="fl pr30 w33bl text-center por">
                                <div class="game_rightNum">22</div>
                                <div class='pl50 pr50 game_headrimg'>
                                    <img src="/static/images/web/me_03.png" alt="">
                                </div>
                                <div class="fn12sz">恒大</div>
                            </div>
                        </li>
                        <li class="pt10">
                            <div class="fl pl30 w33bl text-center por">
                                <div class="game_leftNum">22</div>
                                <div class='pl50 pr50 game_headrimg'>
                                    <img src="/static/images/web/me_03.png" alt="">
                                </div>
                                <div class="fn12sz">恒大</div>
                            </div>
                            <div class="fl w33bl text-center">
                                <div class="fn18sz col_ff004d">VS</div>
                                <div class="fn12sz"><i class="iconfont fn12sz pr5">&#xe60c;</i><span class="fn12sz">09-20 20:00</span></div>
                                <div class=" fn12sz"><i class="iconfont fn12sz pr5">&#xe605;</i><span class="fn12sz">09-20 20:00</span></div>
                                <div class="prl_gameend">已结束</div>
                            </div>
                            <div class="fl pr30 w33bl text-center por">
                                <div class="game_rightNum">22</div>
                                <div class='pl50 pr50 game_headrimg'>
                                    <img src="/static/images/web/me_03.png" alt="">
                                </div>
                                <div class="fn12sz">恒大</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fixbtn">
                <ul class="clearfix">
                    <li class="on pt15">
                        <i class="iconfont">&#xe648;</i>
                        <div>首页</div>
                    </li>
                    <li class="pt15">
                        <i class="iconfont">&#xe621;</i>
                        <div>球赛</div>
                    </li>
                    <li class="pt15">
                        <i class="iconfont">&#xe638;</i>
                        <div>鬼蜮</div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="dialog_tips_main">
    <div class="dialog_tips_bgopacity"></div>
    <div class="dialog_tips_main_h">
            <div class="text-center dialog_tips_showdia">
                <i class="iconfont">&#xe608;</i>
                <span>操作成功</span>
            </div>
    </div>

</div>
<script src='/static/js/web/index.js'></script>
</body>
</html>